@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if $index {
      @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    
    @return $string;
  }

@function svg-icon($icon) {
// @function svg-icon($icon, $color: currentColor) {
    // $new-color: str-replace("#{$color}","#" ,"%23" );
    // $encoded-icon: str-replace($icon, "fill='currentColor'", "fill='#{$new-color}'");
    // @return url($encoded-icon);
    @return url($icon);
  }
  
  @mixin svg-background($icon, $size: contain) {
    background-image: svg-icon($icon);
    background-size: $size;
    background-repeat: no-repeat;
  }
  